@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --primary-color: #023047;
  --secondary-color: #023e8a;
  --accent1-color: #FFB703;
  --accent2-color: #FB8500;

  --heading-font: 'Roboto Slab', serif;
  --paragraph-font: 'PT Sans', sans-serif;
  --callout-font: 'Permanent Marker', cursive;

  --nav-background-color: #e1f1f9;
  --nav-link-color: #023047;
  --nav-hover-link-color: #fd9e02;
  --nav-hover-background-color: #9b2226;
  }

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
  text-align: center;
}

h2 {
  font-family: var(--callout-font);
  color: var(--accent2-color);
  font-size: 1.7rem;
}

h3 {
  font-family: var(--callout-font);
  color: var(--primary-color);
}

body{
  font-family: var(--paragraph-font);
  width: 960px;
  padding: 20px;
  color: #023047;
  width: fixed;
}

.hero{
  position: relative;
  display: grid;
  width: 100%;
  height: auto;
}

.hero .imghero{
  display: grid;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

h1{
  position: absolute;
  top: 2px;
  left: 220px;
  color: #ffbb0f;
  text-align: center;
  justify-content: space-around;
}

.hero article{
  position: absolute;
  top: 60px;
  left: 2em;
  right: 2em;
  color: white;
  background-color: #ca92037a;
  padding-left: 20px;
  text-align: center;
  margin-top: 1em;
  border-radius: 1rem;
}

.hero .happyperson{
  float: right;
  width: 200px;
  left: 200px;
  margin: 1em;

}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
  grid-column: 2;
  justify-content: space-between;
  }

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  width: 25%;
  padding: 0.8em;
  padding-right: 2em;
  padding-left: 2em;
  border: #023047 solid;
  border-width: thin;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

header img{
  float: right;
  width: 60%;
  height: auto;
  grid-column: 1;
  align-self: center;
}

footer{
  text-align: center;
  clear: both;
  background-color: #e1f1f9;
  height: 6em;
  padding-top: 0.5em;
}

footer img{
  float: right;
  width: 50px;
  margin: 0.5em;
  text-align: center;
}


header{
  display: grid;
  background-color: #8ecae6;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  padding: 1em;
}

.section1{
  display: grid;
  padding: 1em;
  margin-top: 1em;
  background-color: #ffc7397b;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
}

.fraction {
  float: left;
  width: 1fr;
  padding: 5px;
  border-radius: 2rem;
  
}

.section1 p{
  text-align: justify;
  padding: 10px;
}

.section1 img{
  width: 350px;
  height: 220px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.column{
  float: left;
  width: 20%;
  padding: 5px;
}

.row after{
  content: "";
  clear: both;
  display: table;
}

.section2 img{
  width: 150%;
}

.column figure img{
  height: 90px;
}












