@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

header, h1 {
    font-family: 'Roboto Slab', serif;
    color: #9b2226;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    margin-top: 0.5%;
    padding: 1rem;
    border: 1px solid #02304777;
    border-radius: 20px;
    background-color: #ffb8031f;
    display: grid;

}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid #02304777;
    padding: 1rem;
}

legend {
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    color: #9b2226;
    padding: 1rem;
}

label, input, button, select, textarea {
    font-family: 'PT Sans', sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.6rem;
    font-size: 1.1rem;
}

input [type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1.5rem;
    background-color: #ffb803be;
    color: #023e8a;
    font-size: 1.5rem;
    padding: 0.75rem;
    border: none;
    font-weight: 600;
    box-shadow: 0px 8px 15px #9b22268f;
    border-radius: 0.5rem;
    margin-left: 30%;
    margin-right: 30%;

}

button:hover {
    background-color: #9b2226;
    color: #ffb803be;
}

footer {
    margin: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #023e8a;
    border-top: 1px solid #ccc;
}