
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {
  background-color: steelblue;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}


nav a {
  color: white;
  padding: 20px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
}


a {
  color: lightblue;
}


h1 {
  color: steelblue;
  margin: 1em;
  border-bottom: solid #023e8a;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  margin-top: 0;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 0;
  margin: 1em;
}

aside {
  width: 20em;
  height: 95%;
  border: 10px solid rgba(0, 0, 0, 0.2);
  background-color: brown;
  color:blanchedalmond;
  text-align: center;
  position: relative;
  align-items: center;
}

aside img{
  width: 200px;
  height: auto;
  text-align: center;
}

main img{
  width: 150px;
  height: auto;
}

footer{
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}

aside h2{
  position: absolute;
  top: 2px;
  left: 10px;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}


/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  background-color: rgb(71, 71, 135);
  color: white;
  clear: both;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2 / 3;
  margin: 1em;
  width: 2fr;

}

aside {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 1fr;
}

